body {
  font-family: 'Open Sans', sans-serif;
  background: url(/img/hero.jpg) no-repeat, 
  url(/img/bottom-pic.jpg)  bottom no-repeat ;
  background-color: #001821;
  color: #fff;
  /* margin: -25px 0 0; */
  padding: 0;
}

h2 {
  font-size: 36px;
}

ul {
  margin: 0;
  padding: 0;
}

hr {
  opacity: 10%;
  margin-top: 38px;
}

a {
  color: #fff;
  text-decoration: none;
}

button {
  color: #fff;
  background: #f5170e;
  border-radius: 35px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Open Sans';
  height: 55px;
  padding: 18px 40px;
  border-style: none;
}

.wrapper {
width: 1140px;
margin: 0px 390px 0px;
}

.header {
  position: relative;
  margin-top: 27px;
}

.logo {
  display: inline-block;
  margin-right: 79px;
}

.navigation {
  display: inline-block;
}

.navigation__item {
  display: inline-block;
  margin-right: 54px;
}

.navigation__item:last-child {
  margin-right: 0;
}

.contacts {
  display: inline-block;
  text-align: right;
  position: absolute;
  right: 0px;
}

.contacts__tel {
  display: block;
  font-size: 26px;
}

.main-section {
  margin-top: 46px;
  width: 511px;
  height: 333px;
}

.main-section__title {
  font-size: 72px;
}

.main-section__text {
  margin-top: 28px;
}

.main__button {
  margin-top: 34px;
}

.tours {
  margin-top: 246px;
}

.tours__header {
  display: inline-block;
  /* font-size: 36px; */
  margin: 0;
}

.burning-flame {
  display: inline-block;
  margin-left: 12px;
  width: 21px;
  height: 28px;
}

.section__content {
  margin-top: 51px;
}

.country {
  display: inline-block;
  height: 305px;
  width: 362px;
  margin-right: 22px;
}

.country:last-child {
  margin-right: 0;
}

.tours-icons {
  margin-left: 28px;
}

.tours-icons * {
  display: inline-block;
  vertical-align: middle;
}

.tours-icons__pic {
  margin-right: 10px;
}

.tours-icons__text {
margin: 0 28px 0 0;
}

.country__text {
  margin: 24px 16px 0 22px;
}

.country__button {
  margin-top: 25px ;
  margin-bottom: 26px;
  margin-left: 24px;
}

.news {
  margin-top: 127px;
}

.news__content {
  overflow: hidden;
}

.news__list {
  overflow: hidden;
}

.news__elem {
  width: 557px;
  height: 394px;
  float: left;
  margin-right: 25px;
  position: relative;
  overflow: hidden;
}

.news__elem:nth-child(even) {
  margin-right: 0;
}

/* .news__time {
  position: absolute;
  bottom: 10px;
  left: 10px; */
  
  .news__text {
    position: absolute;
    top: 252px;
    left: 10px;
    text-overflow: ellipsis;
}

.pagination {
  text-align: center;
  margin-top: 53px;
}

.pagination__text {
  display: inline;
  margin-right: 25px;
}

.pagination__list {
  display: inline-block;
}

.pagination__list li {
  display: inline;
  padding: 5px 11px;
  margin-right: 2px;
}

.about {
  position: relative;
  margin-top: 124px;
  height: 552px;
  width: 1139px;
  /* background: url(/img/bottom-pic.jpg) 50% bottom no-repeat ; */
}

.about__background-image {
  width: 490px;
  height: 505px;
  z-index: 0;
}
.about__main {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 785px;
  height: 455px;
  /* z-index: 1; */
}

.about_main-content {
  width: 502px;
  color: #000;
  position: absolute;
  top: 70px;
  left: 81px;
}

.footer {
  margin-top: 15px;
  position: relative;
  height: 93px;
  padding-top: 10px;
}

.footer__social {
  display: inline-block;
  margin-left: 274px;
  height: 36px;
  width: 174px;
}

.social-list {
  height: 36px;
  width: 174px;
}

.social-list__item {
  height: 36px;
  width: 36px;
  display: inline-block;
  margin-right: 5px;
}
.social-list__item:last-child {
  margin-right: 0;
}

.free-ring {
  font-size: 11px;
}