

html {
  /* height: 100%; */
}

h2 {
  font-size: 36px;
}


ul {
  margin: 0;
  padding: 0;
}

hr {
  opacity: 10%;
  margin-top: 38px;
}

a {
  color: #fff;
  text-decoration: none;
}

button {
  font-family: 'Open Sans', sans-serif; 
  font-weight: 700;
  color: #fff;
  background: #f5170e;
  border-radius: 35px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Open Sans';
  height: 55px;
  padding: 18px 40px;
  border-style: none;
}
